/* Header */
.select-conf
{
    font-size: 18px;
}

.search-button
{
    height: 30px;
    width: 50px;
    font-size: 18px;
    border-radius: 30px;
}

.course
{
    height: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin-bottom: 2px;
}

.addcourse-div
{

}

.addcourse-div::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    z-index: -1;
    margin: -20px;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../../img/background.jpg');
}